*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.text{
    text-align-last: center;
    margin-top: 20px;
}
.search_page{
    display: flex;
    padding: 5% 0px;
}
.search_page .left{
    width: 25%;
    padding: 50px;
}
.search_page .categories ul li{
    padding: 8px;
    list-style: none;
    margin-top: 10px;
}
.search_page .categories ul li a{
    color: #000;
    text-decoration: none;
}
.search_page .categories h1{
    border-bottom: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
}
.search_page .price{
    margin-top: 15px;
}
.search_page .price h1{
    border-bottom: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
}

.search_page .price input{
    width: 200px;
    height: 40px;
    margin-top: 20px;
}
.search_page .price button{
    width: 200px;
    margin-top: 10px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(9, 49, 180, 0.808);
}
.search_page .price button a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.search_page .product_type{
    margin-top: 35px;
}
.search_page .product_type h1{
    border-bottom: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
}
.search_page .product_type ul{
    padding: 0px;
    margin-top: 10px;
}
.search_page .product_type ul li{
    list-style-type: none;
    display: flex;
    padding: 8px;
    font-size: 15px;
    font-weight: 50;
}
.search_page .product_type ul li h4{
    font-size: 15px;
    font-weight: 100;
}
.search_page .brand{
    margin-top: 15px;
}
.search_page .brand h1{
    border-bottom: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
}
.search_page .brand ul h4{
    font-size: 15px;
    font-weight: 100;
}
.search_page .brand ul li{
    display: flex;
    padding: 3px;
    list-style: none;
    margin-top: 10px;
}
.search_page .brand h5{
    margin-top: 10px;
    font-size: 15px;
}
.search_page .brand h5 a{
    text-decoration: none;
    color: #000;
}
.search_page .availability{
    margin-top: 15px;
}
.search_page .availability h1{
    border-bottom: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
}
.search_page .availability ul{
    padding: 0;
}
.search_page .availability ul li{
    list-style-type: none;
    display: flex;
    margin-top: 10px;
}
.search_page .availability ul li h4{
    font-size: 15px;
    font-weight: 100;
}
.search_page .color{
    margin-top: 15px;
}
.search_page .color h1{
    border-bottom: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
}
.search_page .color .firstflex{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 10px;
}
.search_page .color .firstflex div:nth-child(1){
    border: 1px solid black;
    width: 30px;
    border-radius: 50px;
}
.search_page .color .firstflex div:nth-child(2){
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.search_page .color .firstflex div:nth-child(3){
    border: 1px solid black;
    width: 30px;
    border-radius: 50px;
}
.search_page .color .firstflex div:nth-child(4){
    border: 1px solid black;
    width: 30px;
    border-radius: 50px;
}
.search_page .color .firstflex div:nth-child(5){
    border: 1px solid black;
    width: 30px;
    border-radius: 50px;
}
.search_page .color .secondflex{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 200px;
}
.search_page .color .secondflex div:nth-child(1){
    border: 1px solid black;
    width: 30px;
    border-radius: 50px;
}
.search_page .color .secondflex div:nth-child(2){
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.search_page .color .secondflex div:nth-child(3){
    border: 1px solid black;
    width: 30px;
    border-radius: 50px;
}
.search_page .color .secondflex div:nth-child(4){
    border: 1px solid black;
    width: 30px;
    border-radius: 50px;
}
.search_page .color .secondflex div:nth-child(5){
    border: 1px solid black;
    width: 30px;
    border-radius: 50px;
}
.search_page .color ul{
    padding: 0;
}
.search_page .color h5 a{
    color: #000;
    text-decoration: none;
}
.search_page .size{
    margin-top: 20px;
}
.search_page .size h1{
    border-bottom: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
}
.search_page .size h5{
    border: 1px solid;
    padding: 10px;
}
.search_page .size div{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 10px;
}
.search_page .recent_post{
    margin-top: 15px;
}
.search_page .recent_post h1{
    border-bottom: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
}
.search_page .recent_post .image img{
    height: 600px;
    width: 200px;
    margin-top: 20px;
}
.search_page .recent_post h2{
    border-bottom: 1px solid #000;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}
.search_page .recent_post p{
    font-size: 15px;
}
.search_page .right{
    width: 75%;
    margin-right:40px
}
.search_page .right .first_div{
    display: flex;
    justify-content: space-between;
}
.search_page .right .first_div .container{
    border: 1px solid black;
    width: 300px;
    height: 450px;
}
.search_page .right .first_div .image{
    border-bottom: 1px solid #000;
    width: 300px;
    height: 300px;
}
.search_page .right .first_div .text{
    text-align: center;
}
.search_page .right .second_div{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.search_page .right .second_div .container{
    border: 1px solid black;
    width: 300px;
    height: 450px;
}
.search_page .right .second_div .image{
    border-bottom: 1px solid black;
    width: 300px;
    height: 300px;
}
.search_page .right .second_div .text{
    text-align: center;
}
.search_page .right .total{
    text-align: center;
}
.search_page .right .total h5{
    padding: 20px;
    font-size: 15px;
}
.search_page .right .total button{
    width: 300px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
}
.search_page .right .article{
    text-align: center;
    padding: 50px;
}
.search_page .right .article a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.search_page .right .articles_page{
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 232, 232);
    padding: 20px;
}
.search_page .right .articles_page_left{
    width: 49%;
}
.search_page .right .articles_page_left div{
    background-color: white;
}
.search_page .right .articles_page_left h4{
    font-size: 16px;
}
.search_page .right .articles_page_left p{
    padding:20px 0px;
    font-size: 16px;
}
.search_page .right .articles_page_left button{
    width: 80px;
    height: 30px;
    background-color:black;
}
.search_page .right .articles_page_left button a{
    text-decoration: none;
    color: white;
}
.search_page .right .articles_page_right{
    width: 49%;
}
.search_page .right .articles_page_right div{
    background-color: white;
}
.search_page .right .articles_page_right h4{
    font-size: 16px;
}
.search_page .right .articles_page_right p{
    padding:20px 0px;
    font-size: 16px;
}
.search_page .right .articles_page_right button{
    width: 80px;
    height: 30px;
    color: white;
    background-color:black;
}
.search_page .right .articles_page_right button a{
    text-decoration: none;
    color: white;
}