.search_page{
    position: relative;
}
.search_page>div:nth-child(1){
    display: flex;
    justify-content: space-between;
    padding: 40px 5% 0px 2%;
}
.search_page>div:nth-child(1) .left{
    width: 25%;
    border-right: 1px solid silver;
}
.search_page>div:nth-child(1) .right{
    width: 73%;
    padding-bottom: 40px;
}
.search_page>div:nth-child(1) .right .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.search_page>div:nth-child(1) .right .flex .flex_item{
    background-color: white;
    width: 32%;
    border: 1px solid silver;
    margin: 10px 0px;
}
.search_page>div:nth-child(1) .right .flex .flex_item .img{
    width: 100%;
    height: 220px;
    border-bottom: 1px solid silver;
}
.search_page>div:nth-child(1) .right .flex .flex_item .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.search_page>div:nth-child(1) .right .flex .flex_item .text{
    padding: 20px;
}
.search_page>div:nth-child(1) .right .flex .flex_item .text div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.search_page>div:nth-child(1) .right .flex .flex_item .text small{
    width: 100%;
    display: flex;
    justify-content: center;
}
.search_page>div:nth-child(1) .right .flex .flex_item .text h2 a{
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 0px;
}
.search_page>div:nth-child(1) .right .flex .flex_item .text h3{
    font-size: 15px;
}
.search_page>div:nth-child(1) .right .flex .flex_item .text h3 a{
    display: block;
    text-transform: capitalize;
    padding: 10px 0px;
}
.search_page>div:nth-child(1) .right .flex .flex_item .text form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_page>div:nth-child(1) .right .flex .flex_item .text form button[class=add_to_cart]{
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    background-color: transparent;
    text-transform: capitalize;
    font-size: 15px;
    border: 1px solid silver;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search_page>div:nth-child(1) .right .flex .flex_item .text form button[class=add_wish_list]{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-size: 18px;
}
.search_page>div:nth-child(1) .right .others{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.search_page>div:nth-child(1) .right .others ul{
    display: flex;
    width: fit-content;
}
.search_page>div:nth-child(1) .right .others ul li{
    cursor: pointer;
    list-style-type: none;
    border: 1px solid silver;
    text-align: center;
    padding: 10px;
    margin: 0px 2px;
}
.search_page>div:nth-child(1) .right .others ul button:nth-of-type(1){
    padding: 10px;
    border: 1px solid silver;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}
.search_page>div:nth-child(1) .right .others ul button:nth-of-type(2){
    padding: 10px;
    border: 1px solid silver;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}