
/* INHERITED STYLE FOR ALL PAGES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    position: relative;
    scroll-behavior: smooth;
    background-color: whitesmoke;
}
.abstract_options{
    z-index: 5;
    position: fixed;
    height: 20vh;
    width: 40px;
    top: 40vh;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid silver;
}
.abstract_options ul{
    width: 100%;
    height: 100%;
}
.abstract_options li{
    height: 33.333%;
    list-style-type: none;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abstract_options li a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
header>div:nth-of-type(1){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    background-color: #FF4B2B;
    color: white;
}
header>div:nth-of-type(1) h1{
    display: block;
    width: 20%;
    text-transform: capitalize;
    font-size: 30px;
}
header>div:nth-of-type(1) h1 a{
    text-decoration: none;
    color: white;
}
header>div:nth-of-type(1) h1 span{
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: 400;
}
header>div:nth-of-type(1)>form:nth-of-type(1){
    display: flex;
    width: 30%;
    border-radius: 20px;
}
header>div:nth-of-type(1)>form:nth-of-type(1) input[type=search]{
    width: 80%;
    padding: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
header>div:nth-of-type(1)>form:nth-of-type(1) button{
    width: 20%;
    padding: 10px;
    border: none;
    background-color: white;
    color: #FF4B2B;
    font-size: 18px;
    text-align: center;
    border-left: 1px solid silver;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
header>div:nth-of-type(1)>div{
    min-width: 10%;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
} 
header>div:nth-of-type(1)>div i{
    font-size: 25px;
    padding-bottom: 5px;
}
header>div:nth-of-type(1)>div a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
    color: white;
}
header>div:nth-of-type(1)>div span{
    text-transform: capitalize;
    font-size: 18px;
}
header>div:nth-of-type(1)>div span a{
    text-decoration: underline;
}
header>div:nth-of-type(2){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2% 10px 0;
    border-bottom: 1px solid silver;
    background-color: white;
}
header>div:nth-of-type(2)>div:nth-of-type(1){
    position: relative;
    width: 20%;
}
header>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1){
    padding-left: 28px;
    width: 100%;
}
header>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1) i{
    font-size: 18px;
    padding-right: 5px;
}
header>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(1) a{
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
}
header>div:nth-of-type(2)>div:nth-of-type(1) .categories_dropDown{
    position: absolute;
    display: none;
    width: 100%;
    height: 70vh;
    top: 35px;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid silver;
}
header>div:nth-of-type(2)>div:nth-of-type(1) .categories_dropDown li{
    display: flex;
    align-items: center;
    padding: 28px;
    list-style-type: none ;
    word-wrap: break-word;
    font-size: 18px;
    border-bottom: 1px solid silver;
}
header>div:nth-of-type(2)>div:nth-of-type(1) .categories_dropDown li a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}
header>div:nth-of-type(2)>div:nth-of-type(2){
    width: 60%;
    display: flex;
    align-items: center;
}
header>div:nth-of-type(2)>div:nth-of-type(2) a{
    text-transform: capitalize;
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding-right: 30px;
}
header>div:nth-of-type(2)>div:nth-of-type(3){
    display: flex;
    width: 20%;
}
header>div:nth-of-type(2)>div:nth-of-type(3)>div{
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}
header>div:nth-of-type(2)>div:nth-of-type(3)>div a{
    text-decoration: none;
    color: black;
}
header>div:nth-of-type(2)>div:nth-of-type(3)>div:nth-child(1){
    border-right: 1px solid silver;
}
footer{
    background-color: white;
    border: 1px solid silver;
    padding: 40px 2% 0px;
}
footer>div:nth-of-type(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer>div:nth-of-type(1) h1{
    text-transform: capitalize;
}
footer>div:nth-of-type(1) p{
    padding-top: 5px;
}
footer>div:nth-of-type(1) form{
    margin-top: 20px;
}
footer>div:nth-of-type(1) form{
    display: flex;
    width: 40%;
}
footer>div:nth-of-type(1) form input{
    width: 80%;
    padding: 15px;
    font-size: 15px;
    outline: none;
    border: 1px solid silver;
    border-radius: 0;
}
footer>div:nth-of-type(1) form button{
    width: 20%;
    padding: 15px;
    font-size: 15px;
    border: none;
    background-color: #FF4B2B;
    color: white;
    text-transform: capitalize;
}
footer>div:nth-of-type(2){
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
} 
footer>div:nth-of-type(2) h4{
    text-transform: capitalize;
    padding-bottom: 10px;
}
footer>div:nth-of-type(2) li{
    list-style-type: none;
    text-transform: capitalize;
    padding: 10px 0px;
}
footer>div:nth-of-type(2) li a{
    text-decoration: none;
    text-transform: capitalize; 
}
footer>div:nth-of-type(2)>div:nth-child(5) li a{
    text-decoration: none;
    text-transform: lowercase;
}
footer>div:nth-of-type(3){
    margin: 40px 0px 10px;
} 
footer>div:nth-of-type(3) p{
    font-size: 12px;
}
footer>div:nth-of-type(3)>div{
    display: flex;
    justify-content: space-between;
}
footer>div:nth-of-type(3)>div>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    width: 12%;
}
footer>div:nth-of-type(3)>div>div:nth-child(2) div{
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 50%;
}


/* INDEX.HTML PAGE (HOME PAGE) */

.home_page>div:nth-child(1){
    width: 100%;
    height: 80vh;
    padding: 60px 5% 0px ;
    background-color: white;
}
.home_page>div:nth-child(1)>div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;
}
.home_page>div:nth-child(1)>div:nth-of-type(1)>div:nth-child(1){
    width: 48%;
}
.home_page>div:nth-child(1)>div:nth-of-type(1)>div:nth-child(1) h1{
    font-size: 60px;
    text-transform: capitalize;
}
.home_page>div:nth-child(1)>div:nth-of-type(1)>div:nth-child(1) p{
    padding: 20px 0px;
    font-size: 30px;
}
.home_page>div:nth-child(1)>div:nth-of-type(1)>div:nth-child(1) a{
    width: fit-content;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    border: 1px solid silver;
    border-radius: 20px;
}
.home_page>div:nth-child(1)>div:nth-of-type(1)>div:nth-child(2){
    width: 48%;
    height: 100%;
}
.home_page>div:nth-child(1)>div:nth-of-type(1)>div:nth-child(2) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.home_page>div:nth-child(1)>div:nth-of-type(2){
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_page>div:nth-child(1)>div:nth-of-type(2) ul{
    display: flex;
}
.home_page>div:nth-child(1)>div:nth-of-type(2) ul li{
    list-style-type: none;
    padding: 0px 15px;
}
.home_page>div:nth-child(1)>div:nth-of-type(2) ul li button{
    width: 18px;
    height: 18px;
    border: 1px solid silver;
    border-radius: 50%;
    background-color: transparent;
    color: transparent;
}
.home_page>div:nth-child(2){
    border-radius: 20px;
    background-color: #ff4b2b;
    color: white;
    margin: 40px 3% 40px 2%;
    padding: 20px 0px;
    text-align: center;
}
.home_page>div:nth-child(2) h1{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 400;
}
.home_page>div:nth-child(2) p{
    padding: 15px 0px;
    font-size: 18px;
}
.home_page>div:nth-child(2) a{
    font-size: 18px;
    color: white;
}
.second_design{
    padding: 0px 5% 20px 2%;
    position: relative;
}
.second_design>div:nth-of-type(1){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second_design>div:nth-of-type(1) h1{
    text-transform: capitalize;
    font-weight: 400;
}
.second_design>div:nth-of-type(1) a{
    text-transform: capitalize;
    font-size: 18px;
}
.second_design .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.second_design .flex .slide_left{
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid silver;
    background-color: white;
    font-size: 18px;
}
.second_design .flex .slide_right{
    position: absolute;
    right: 3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid silver;
    background-color: white;
    font-size: 18px;
}
.second_design .flex_item{
    background-color: white;
    width: 23%;
    border: 1px solid silver;
}
.second_design .flex_item .img{
    width: 100%;
    height: 220px;
    border-bottom: 1px solid silver;
}
.second_design .flex_item .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.second_design .flex_item .text{
    padding: 20px;
}
.second_design .flex_item .text div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.second_design .flex_item .text small{
    width: 100%;
    display: flex;
    justify-content: center;
}
.second_design .flex_item .text h2 a{
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 0px;
}
.second_design .flex_item .text h3{
    font-size: 15px;
}
.second_design .flex_item .text h3 a{
    display: block;
    text-transform: capitalize;
    padding: 10px 0px;
}
.second_design .flex_item .text form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.second_design .flex_item .text form button[class=add_to_cart]{
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    background-color: transparent;
    text-transform: capitalize;
    font-size: 15px;
    border: 1px solid silver;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.second_design .flex_item .text form button[class=add_wish_list]{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-size: 18px;
}
.second_design>div:nth-of-type(3){
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.second_design>div:nth-of-type(3) ul{
    display: flex;
}
.second_design>div:nth-of-type(3) ul li{
    list-style-type: none;
    padding: 0px 15px;
}
.second_design>div:nth-of-type(3) ul li button{
    width: 18px;
    height: 18px;
    border: 1px solid silver;
    background-color: white;
    border-radius: 50%;
    color: transparent;
}
.third_design{
    padding: 0px 5% 20px 2%;
}
.third_design>h3:nth-of-type(1){
    text-transform: capitalize;
    font-weight: 400;
}
.third_design .flex{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.third_design .flex .left{
    background-color: white;
    border-radius: 20px;
    width: 20%;
}
.third_design .flex .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.third_design .flex .center{
    background-color: white;
    position: relative;
    border: 1px solid silver;
    padding: 20px 0px;
    border-radius: 20px;
    width: 58%;
}
.third_design .flex .center>div:nth-child(1){
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-between;
}
.third_design .flex .center>div:nth-child(1) .slide_left{
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid silver;
    background-color: white;
    font-size: 18px;
}
.third_design .flex .center>div:nth-child(1) .slide_right{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid silver;
    background-color: white;
    font-size: 18px;
}
.third_design .flex .center>div:nth-child(1) .flex_item{
    width: 32.5%;
    border: 1px solid silver;
}
.third_design .flex .center>div:nth-child(1) .flex_item .img{
    width: 100%;
    height: 180px;
    border-bottom: 1px solid silver;
}
.third_design .flex .center>div:nth-child(1) .flex_item .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.third_design .flex .center>div:nth-child(1) .flex_item .text{
    padding: 10px;
}
.third_design .flex .center>div:nth-child(1) .flex_item .text div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.third_design .flex .center>div:nth-child(1) .flex_item .text small{
    width: 100%;
    display: flex;
    justify-content: center;
}
.third_design .flex .center>div:nth-child(1) .flex_item .text h2 a{
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px 0px;
}
.third_design .flex .center>div:nth-child(1) .flex_item .text h3{
    font-size: 15px;
}
.third_design .flex .center>div:nth-child(1) .flex_item .text h3 a{
    display: block;
    text-transform: capitalize;
    padding: 5px 0px;
}
.third_design .flex .center>div:nth-child(1) .flex_item .text form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.third_design .flex .center>div:nth-child(1) .flex_item .text form button[class=add_to_cart]{
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    background-color: transparent;
    text-transform: capitalize;
    font-size: 15px;
    border: 1px solid silver;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.third_design .flex .center>div:nth-child(1) .flex_item .text form button[class=add_wish_list]{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    font-size: 18px;
}
.third_design .flex .center>div:nth-child(2){
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.third_design .flex .center>div:nth-child(2) ul{
    display: flex;
}
.third_design .flex .center>div:nth-child(2) ul li{
    list-style-type: none;
    padding: 0px 15px;
}
.third_design .flex .center>div:nth-child(2) ul li button{
    width: 18px;
    height: 18px;
    border: 1px solid silver;
    background-color: white;
    border-radius: 50%;
    background-color: transparent;
    color: transparent;
}
.third_design .flex .right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    width: 20%;
    border: 1px solid silver;
    border-radius: 20px;
    background-color: white;
}
.third_design .flex .right .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid silver;
    padding: 15px;
}
.third_design .flex .right .flex h3{
    text-transform: capitalize;
    font-size: 15px;
}
.third_design .flex .right .flex>div:nth-of-type(2){
    width: 50px;
    height: 50px;
}
.third_design .flex .right .flex>div:nth-of-type(2) img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.third_design .flex .right>div:nth-of-type(4){
    border: 1px solid silver;
    background-color: white;
    padding: 15px;
    text-transform: capitalize;
    text-align: center;
}
.fourth_design{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 20px 2%;
}
.fourth_design>div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    border: 1px solid silver;
    border-radius: 20px;
    background-color: white;
    width: 32%;
    height: 35vh;
}
.fourth_design>div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.fourth_design>div a{
    display: block;
    position: absolute;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    background-color: #FF4B2B;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.fifth_design{
    padding: 20px 5% 60px 2%;
}
.fifth_design .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fifth_design .flex_item{
    border: 1px solid silver;
    background-color: white;
    border-radius: 20px;
    width: 32%;
    padding: 10px;
}
.fifth_design .flex_item>div:nth-child(1){
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
.fifth_design .flex_item>div:nth-child(1) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.fifth_design .flex_item h4{
    text-transform: capitalize;
    font-size: 18px;
}
.fifth_design .flex_item p{
    margin-top: 10px;
    font-size: 13px;
}



/* PRODUCT_VIEW_PAGE */

.product_view .first_design{
    padding: 0px 5% 0px 2%;
    background-color: white;

}
.product_view .first_design .flex{
    display: flex;
    justify-content: space-between;
}
.product_view .first_design .flex div:nth-child(1){
    width: 45%;
    padding: 20px 0px;
    height: fit-content;
}
.product_view .first_design .flex div:nth-child(1) .image{
    width: 100%;
    height: 400px;
}
.product_view .first_design .flex div:nth-child(1) .image img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.product_view .first_design .flex div:nth-child(1) .flex_image{
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product_view .first_design .flex div:nth-child(1) .flex_image .slide_left{
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid silver;
    background-color: white;
    font-size: 18px;
}
.product_view .first_design .flex div:nth-child(1) .flex_image .slide_right{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid silver;
    background-color: white;
    font-size: 18px;
}
.product_view .first_design .flex div:nth-child(1) .flex_image div{
    border: 1px solid silver;
    width: 30%;
    height: 120px;
}
.product_view .first_design .flex div:nth-child(1) .flex_image div img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.product_view .first_design .flex div:nth-child(2){
    width: 55%;
    padding: 40px;
}
.product_view .first_design .flex div:nth-child(2) h2{
    text-transform: capitalize;
    font-size: 18px;
}
.product_view .first_design .flex div:nth-child(2) small{
    display: block;
    margin: 20px 0px;
}
.product_view .first_design .flex div:nth-child(2) small a{
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}
.product_view .first_design .flex div:nth-child(2) ul{
    padding: 20px 0px;
}
.product_view .first_design .flex div:nth-child(2) ul li{
    list-style-type: none;
    text-transform: capitalize;
    padding: 5px 0px;
}
.product_view .first_design .flex div:nth-child(2) form{
    display: flex;
    padding-bottom: 20px;
}
.product_view .first_design .flex div:nth-child(2) label{
    text-transform: capitalize;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.product_view .first_design .flex div:nth-child(2) form:nth-of-type(1) button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid silver;
    background-color: transparent;
}
.product_view .first_design .flex div:nth-child(2) form:nth-of-type(1) input[type=text]{
    font-weight: bold;
    font-size: 18px;
    width: 90px;
    outline: none;
    text-align: center;
}
.product_view .first_design .flex div:nth-child(2)>div:last-child form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.product_view .first_design .flex div:nth-child(2)>div:last-child button:nth-of-type(1){
    width: 90%;
    border: none;
    padding: 25px 0px;
    border-radius: 20px;
    margin: 20px 0px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    background-color: #FF4B2B;
    color: white;
}
.product_view .first_design .flex div:nth-child(2)>div:last-child button:nth-of-type(2){
    text-align: center;
    width: 10%;
    font-size: 18px;
    font-weight: bolder;
    border: none;
}
.product_view .first_design .flex div:nth-child(2)>div:last-child button:nth-of-type(3){
    width: 100%;
    border: 1px solid silver;
    padding: 25px 0px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 0px;
    color: #FF4B2B;
}
.product_view .description{
    padding: 40px 5% 40px 2%;
    height: 80vh;
}
.product_view .description nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
.product_view .description nav ul li{
    list-style-type: none;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 18px;
}
.product_view .description nav ul .active{
    border-bottom: 1px solid;
    padding-bottom: 5px;
}



/* CART  PAGE */

.cart>div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    padding: 40px 2%;
}
.cart>div:nth-of-type(1)>div:nth-child(1){
    width: 70%;
    border: 1px solid silver;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
}
.cart>div:nth-of-type(1)>div:nth-child(1) span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.cart>div:nth-of-type(1)>div:nth-child(1) h1{
    text-transform: capitalize;
}
.cart>div:nth-of-type(1)>div:nth-child(1) span h2{
    font-size: 18px;
    text-transform: capitalize;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
    padding-top: 10px;
    border-top: 1px solid silver;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div form:nth-of-type(1){
    width: 3%;
}
.cart>div:nth-of-type(1) .selected{
    width: 20px;
    height: 20px;
    background-color: blue;
    color: transparent;
    border: 1px solid silver;
    border-radius: none;
}
.cart>div:nth-of-type(1) .unselected{
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid silver;
    border-radius: none;
    color: transparent;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .img{
    width: 22%;
    max-height: 250px;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .text{
    padding-left: 20px;
    width: 65%;
}
.cart>div:nth-of-type(1) .form_quantity{
    width: 50px;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .text h1 a{
    font-size: 18px;
    text-decoration: none;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .text ul{
    padding: none;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .text ul li{
    list-style-type: none;
    padding: 2px 0px;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .text>div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .text>div:nth-of-type(1) form>div:nth-of-type(1){
    display: flex;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .text>div:nth-of-type(1) form>div:nth-of-type(1) button{
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid silver;
    padding: 10px;
    background-color: transparent;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .text form input[name=quantity_val]{
    text-align: center;
    width: 50px;
    color: black;
}
.cart>div:nth-of-type(1) .div{
    width: 700px;
    display: flex;
    margin-top: 20px;
}
.cart>div:nth-of-type(1) .div button{
    padding: 0px 20px;
    border: none;
    border-left: 1px solid black;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: bold;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .price{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px;
    width: 10%;
}
.cart>div:nth-of-type(1)>div:nth-child(1)>div>div .price h3{
    font-weight: 400;
}
.cart>div:nth-of-type(1)>div:nth-child(2){
    border: 1px solid silver;
    border-radius: 20px;
    background-color: white;
    width: 25%;
    height: fit-content;
    padding: 20px;

}
.cart>div:nth-of-type(1)>div:nth-child(2) h3{
    text-transform: capitalize;
    font-weight: 400;
}
.cart>div:nth-of-type(1)>div:nth-child(2) a{
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid silver;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}