*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    position: relative;
}
header{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 2%;
    border: 1px solid black;
}
header h1{
    display: block;
    width: 15%;
    font-size: 15px;
    text-transform: capitalize;
}
header h1 a{
    text-decoration: none;
}
header form{
    width: 50%;
    height: fit-content;
    border: 1px solid black;
}
header form input{
    border: none;
    outline: none;
    width: 80%;
    padding: 10px;
    font-size: 15px;
}
header form button{
    border: none;
    width: 19.35%;
    height: 100%;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px;
    background-color: blue;
    color: white;
}
header ul{
    width: 35%;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}
header ul li{
    text-transform: capitalize;
    list-style-type: none;
}
header ul li a{
    text-decoration: none;
}

/* HOME_PAGE */

.home>div:nth-child(1){
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border-bottom: 1px solid black;
}
.home>div:nth-child(2){
    padding: 40px 2%;
}
.home>div:nth-child(2) h1{
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
}
.home>div:nth-child(2) p{
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
}
.home>div:nth-child(2) .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}
.home>div:nth-child(2) .flex>div{
    border: 1px solid black;
    width: 24%;
    margin: 10px 0px;
}
.home>div:nth-child(2) .flex>div .img{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
}
.home>div:nth-child(2) .flex>div .text{
    padding: 20px;
}
.home>div:nth-child(2) .flex>div .text div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.home>div:nth-child(2) .flex>div .text small{
    width: 100%;
    display: flex;
    justify-content: center;
}
.home>div:nth-child(2) .flex>div .text h2 a{
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bolder;
    padding: 10px 0px;
}
.home>div:nth-child(2) .flex>div .text h3{
    font-size: 15px;
}
.home>div:nth-child(2) .flex>div .text div a{
    text-decoration: none;
    text-transform: capitalize;
}
.home>div:nth-child(3){
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border-top: 1px solid black;
}

/* PRODUCT_VIEW_PAGE */

.product_view{
    padding: 40px 2%;
}
.product_view span{
    display: flex;
    width: 25%;
    margin-bottom: 10px;
    text-transform: capitalize;
    justify-content: space-between;
}
.product_view .flex{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.product_view .flex div:nth-child(1){
    width: 45%;
    padding: 40px;
    height: fit-content;
}
.product_view .flex div:nth-child(1) .image{
    width: 100%;
    height: 400px;
    border: 1px solid black;
}
.product_view .flex div:nth-child(1) .flex_image{
    width: 100%;
    margin-top: 20px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product_view .flex div:nth-child(1) .flex_image div{
    border: 1px solid black;
    width: 28%;
    height: 100px;
}
.product_view .flex div:nth-child(2){
    width: 55%;
    padding: 40px;
}
.product_view .flex div:nth-child(2) h2{
    text-transform: capitalize;
    font-size: 18px;
}
.product_view .flex div:nth-child(2) small{
    display: block;
    margin: 20px 0px;
}
.product_view .flex div:nth-child(2) ul{
    padding: 20px 0px;
}
.product_view .flex div:nth-child(2) ul li{
    list-style-type: none;
    padding: 5px 0px;
}
.product_view .flex div:nth-child(2) .prompt{
    display: block;
    margin: 20px 0px;
}
.product_view .flex div:nth-child(2) form{
    padding-bottom: 20px;
}
.product_view .flex div:nth-child(2) form label{
    text-transform: capitalize;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.product_view .flex div:nth-child(2) a{
    display: block;
    width: 100%;
    border: 1px solid black;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0px;
}
.product_view .flex div:nth-child(2) .colored{
    margin: 20px 0px;
    background-color: blue;
    color: white;
    border: none;
}
.product_view .content{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CART */

.cart {
    display: flex;
    justify-content: space-between;
    padding: 40px 2%;
}
.cart>div:nth-child(1){
    width: 70%;
    border: 1px solid black;
    padding: 20px;
}
.cart>div:nth-child(1) span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.cart>div:nth-child(1) h1{
    text-transform: capitalize;
}
.cart>div:nth-child(1) span h2{
    font-size: 18px;
    text-transform: capitalize;
}
.cart>div:nth-child(1)>div>div{
    display: flex;
    margin: 40px 0px;
}
.cart>div:nth-child(1)>div>div .img{
    width: 25%;
    height: 200px;
    border: 1px solid black;
}
.cart>div:nth-child(1)>div>div .text{
    padding: 10px;
    width: 65%;
}
.cart>div:nth-child(1)>div>div .text h1 a{
    font-size: 18px;
    text-decoration: none;
}
.cart>div:nth-child(1)>div>div .text small{
    display: block;
    margin: 10px 0px 8px;
}
.cart>div:nth-child(1)>div>div .text ul{
    padding: none;
}
.cart>div:nth-child(1)>div>div .text ul li{
    list-style-type: none;
    padding: 2px 0px;
}
.cart>div:nth-child(1)>div>div .text div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
}
.cart>div:nth-child(1)>div>div .text div a{
    text-decoration: none;
    border-left: 1px solid black;
    padding-left: 10px;
}
.cart>div:nth-child(1)>div>div .price{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px;
    width: 10%;
}
.cart>div:nth-child(1)>div>div .price h3{
    font-weight: 400;
}
.cart>div:nth-child(2){
    border: 1px solid black;
    width: 25%;
    height: fit-content;
    padding: 20px;

}
.cart>div:nth-child(2) h3{
    text-transform: capitalize;
    font-weight: 400;
}
.cart>div:nth-child(2) a{
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

/* CHECK OUT */

.checkout{
    display: flex;
}
.checkout>div:nth-child(1){
    width: 50%;
    padding: 40px 2%;
}
.checkout>div:nth-child(1) small{
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: capitalize;
    font-weight: bolder;
}
.checkout>div:nth-child(1)>div:nth-child(2){
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.checkout>div:nth-child(1)>div:nth-child(2) a{
    display: block;
    text-decoration: none;
    width: 48%;
    margin: 10px 0px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    border: 1px solid black;
}
.checkout>div:nth-child(1)>div:nth-child(3){
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-weight: bolder;
}
.checkout>div:nth-child(1)>div:nth-child(4){
    margin-top: 20px;
}
.checkout>div:nth-child(1)>div:nth-child(4) h2{
    text-transform: capitalize;
    font-size: 18px;
    margin: 15px 0px;
}
.checkout>div:nth-child(1)>div:nth-child(4) input[type=email]{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}
.checkout>div:nth-child(1)>div:nth-child(4) input[type=email]::placeholder{
    text-transform: capitalize;
}
.checkout>div:nth-child(1)>div:nth-child(4) label[for=delivery]{
    padding: 0px 5px;
}
.checkout>div:nth-child(1)>div:nth-child(4) select[name=country]{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    margin-bottom: 10px;
}
.checkout>div:nth-child(1)>div:nth-child(4) input[name=first_name]{
    padding: 10px;
    width: 48.5%;
    margin-right:1%;
}
.checkout>div:nth-child(1)>div:nth-child(4) input[name=last_name]{
    padding: 10px;
    width: 48.5%;
    margin-left:1%;
}
.checkout>div:nth-child(1)>div:nth-child(4) input[name=address]{
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
}
.checkout>div:nth-child(1)>div:nth-child(4) input[name=appartment]{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.checkout>div:nth-child(1)>div:nth-child(4) input[name=city]{
    padding: 10px;
    width: 40%;
    margin-right:1%;
}
.checkout>div:nth-child(1)>div:nth-child(4) select[name=state]{
    padding: 10px;
    width: 28.5%;
    margin-right:1%;
    background-color: white;
    border: 1px solid silver;
    border-radius: 0;
}
.checkout>div:nth-child(1)>div:nth-child(4) input[name=postal_code]{
    padding: 10px;
    width: 28%;
}
.checkout>div:nth-child(1)>div:nth-child(4) div{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkout>div:nth-child(1)>div:nth-child(4) div a{
    text-transform: capitalize;
    text-decoration: none;
}
.checkout>div:nth-child(1)>div:nth-child(4) div button{
    border: none;
    background-color: blue;
    color: white;
    padding: 15px;
    text-transform: capitalize;
}
.checkout>div:nth-child(2){
    width: 50%;
    padding: 40px 2%;
    border-left: 1px solid black;
}
.checkout>div:nth-child(2)>div:nth-child(1){
    width: 100%;
    padding: 20px 20px 0px 0px;
    height: 200px;
    overflow-y: scroll;
}
.checkout>div:nth-child(2)>div:nth-child(1)>div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}
.checkout>div:nth-child(2)>div:nth-child(1)>div img{
    z-index: 1;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.checkout>div:nth-child(2)>div:nth-child(1)>div .quantity{
    z-index: 4;
    position: absolute;
    top: 0;
    left: 85px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bolder;
}
.checkout>div:nth-child(2)>div:nth-child(1)>div p{
    text-transform: capitalize;
    font-weight: bold;
}
.checkout>div:nth-child(2) form input[name=discount]{
    padding: 10px;
    margin-top: 30px;
    width: 80%;
    font-size: 15px;
    border: 1px solid silver;
}
.checkout>div:nth-child(2) form button{
    width: 19%;
    padding: 10px;
    text-transform: capitalize;
    font-size: 15px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
}
.checkout>div:nth-child(2)>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.checkout>div:nth-child(2)>div:nth-child(3) ul li{
    list-style-type: none;
    padding: 10px 0px;
    text-transform: capitalize;
}
.checkout>div:nth-child(2)>div:nth-child(3) ul:nth-child(1){
    font-weight: bolder;
}

/* PAYMENT */

.payment{
    display: flex;
}
.payment>div:nth-child(1){
    width: 50%;
    padding: 40px 2%;
}
.payment>div:nth-child(1)>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.payment>div:nth-child(1)>div:nth-child(1) ul li{
    list-style-type: none;
    padding: 10px 0px;
}
.payment>div:nth-child(1)>div:nth-child(1) ul:nth-child(1){
    text-transform: capitalize;
    font-weight: bolder;
}
.payment>div:nth-child(1)>div:nth-child(1) a{
    text-transform: capitalize;
}
.payment>div:nth-child(1) h2{
    text-transform: capitalize;
    font-size: 15px;
    margin: 15px 0px;
}
.payment>div:nth-child(1) small{
    display: block;
    padding-bottom: 10px;
}
.payment>div:nth-child(1) form>div:nth-child(3){
    width: 100%;
    height: 300px;
    border: 1px solid black;
}
.payment>div:nth-child(1) label[for=billing]{
    padding: 0px 10px;
}
.payment>div:nth-child(1) label[for=remember]{
    padding: 0px 10px;
}
.payment>div:nth-child(1) form>div:last-child{
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.payment>div:nth-child(1) form>div:last-child a{
    text-transform: capitalize;
    text-decoration: none;
}
.payment>div:nth-child(1) form>div:last-child button{
    border: none;
    background-color: blue;
    color: white;
    padding: 15px;
    text-transform: capitalize;
}
.payment>div:nth-child(2){
    width: 50%;
    padding: 40px 2%;
    border-left: 1px solid black;
}
.payment>div:nth-child(2)>div:nth-child(1){
    width: 100%;
    padding: 20px 20px 0px 0px;
    height: 200px;
    overflow-y: scroll;
}
.payment>div:nth-child(2)>div:nth-child(1)>div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}
.payment>div:nth-child(2)>div:nth-child(1)>div img{
    z-index: 1;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.payment>div:nth-child(2)>div:nth-child(1)>div .quantity{
    z-index: 4;
    position: absolute;
    top: 0;
    left: 85px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bolder;
}
.payment>div:nth-child(2)>div:nth-child(1)>div p{
    text-transform: capitalize;
    font-weight: bold;
}
.payment>div:nth-child(2) form input[name=discount]{
    padding: 10px;
    margin-top: 30px;
    width: 80%;
    font-size: 15px;
    border: 1px solid silver;
}
.payment>div:nth-child(2) form button{
    width: 19%;
    padding: 10px;
    text-transform: capitalize;
    font-size: 15px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
}
.payment>div:nth-child(2)>div:nth-child(3){
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.payment>div:nth-child(2)>div:nth-child(3) ul li{
    list-style-type: none;
    padding: 10px 0px;
    text-transform: capitalize;
}
.payment>div:nth-child(2)>div:nth-child(3) ul:nth-child(1){
    font-weight: bolder;
}

/* ORDER_COMPLETE */

.order_complete{
    display: flex;
}
.order_complete>div:nth-child(1){
    width: 50%;
    padding: 40px 2%;
}
.order_complete>div:nth-child(1) h1{
    text-transform: capitalize;
    font-weight: 400;
}
.order_complete>div:nth-child(1)>div:nth-child(2){
    margin: 20px 0px;
    border: 1px solid black;
    padding: 40px 20px;
}
.order_complete>div:nth-child(1)>div:nth-child(2) h3{
    text-transform: capitalize;
    padding-bottom: 10px;
}
.order_complete>div:nth-child(1)>div:nth-child(3){
    border: 1px solid black;
    padding: 40px 20px;
}
.order_complete>div:nth-child(1)>div:nth-child(3) h3{
    text-transform: capitalize;
    padding-bottom: 10px;
}
.order_complete>div:nth-child(1)>div:nth-child(3)>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0px;
}
.order_complete>div:nth-child(1)>div:nth-child(3)>div ul{
    width: 45%;
}
.order_complete>div:nth-child(1)>div:nth-child(3)>div ul li{
    list-style-type: none;
    padding: 5px 0px;
}
.order_complete>div:nth-child(1)>div:nth-child(3)>div ul li:nth-child(1){
    font-weight: bolder;
    text-transform: capitalize;
}
.order_complete>div:nth-child(1)>div:nth-child(4){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.order_complete>div:nth-child(1)>div:nth-child(4) p{
    text-transform: capitalize;
}
.order_complete>div:nth-child(1)>div:nth-child(4) a:nth-child(2){
    display: block;
    padding: 15px;
    text-transform: capitalize;
    font-size: 15px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    text-decoration: none;
}
.order_complete>div:nth-child(2){
    width: 50%;
    padding: 40px 2%;
    border-left: 1px solid black;
}
.order_complete>div:nth-child(2)>div:nth-child(1){
    width: 100%;
    padding: 20px 20px 0px 0px;
    height: 200px;
    overflow-y: scroll;
}
.order_complete>div:nth-child(2)>div:nth-child(1)>div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}
.order_complete>div:nth-child(2)>div:nth-child(1)>div img{
    z-index: 1;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.order_complete>div:nth-child(2)>div:nth-child(1)>div .quantity{
    z-index: 4;
    position: absolute;
    top: 0;
    left: 85px;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bolder;
}
.order_complete>div:nth-child(2)>div:nth-child(1)>div p{
    text-transform: capitalize;
    font-weight: bold;
}
.order_complete>div:nth-child(2) form input[name=discount]{
    padding: 10px;
    margin-top: 30px;
    width: 80%;
    font-size: 15px;
    border: 1px solid silver;
}
.order_complete>div:nth-child(2) form button{
    width: 19%;
    padding: 10px;
    text-transform: capitalize;
    font-size: 15px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
}
.order_complete>div:nth-child(2)>div:nth-child(2){
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.order_complete>div:nth-child(2)>div:nth-child(2) ul li{
    list-style-type: none;
    padding: 10px 0px;
    text-transform: capitalize;
}
.order_complete>div:nth-child(2)>div:nth-child(2) ul:nth-child(1){
    font-weight: bolder;
}