<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        shopping mall
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>
            <a href="index.html">
                skills shopping
            </a>
        </h1>
        <form action="" method="POST">
            <input type="search" name="search_product" id="">
            <button type="submit">search</button>
        </form>
        <ul>
            <li>
                <p>
                    hello skills || 
                    <a href="">log out</a>
                </p>
            </li>
            <li>
                <a href="">returns & orders</a>
            </li>
            <li>
                4 <a href="cart.html"> <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
        </ul>
    </header>
    <section class="cart">
        <div>
            <h1>shopping cart</h1>
            <span class="header">  
                <a href="">select all</a>
                <h2>price</h2>
            </span>
            <div>
                <div>
                    <div class="img"></div>
                    <div class="text">
                        <h1>
                            <a href="">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita reiciendis, quo
                            </a>
                        </h1>
                        <small>
                            in stock
                        </small>
                        <ul>
                            <li>category : item category</li>
                            <li>color : black</li>
                        </ul>
                        <div>
                            <form action="" method="POST">
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                                <button type="submit">change</button>
                            </form>
                            <a href="">delete</a>
                            <a href="">save for later</a>
                            <a href="">compare with similar</a>
                            <a href="">share</a>
                        </div>
                    </div>
                    <div class="price">
                        <h3>$ 45</h3>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="img"></div>
                    <div class="text">
                        <h1>
                            <a href="">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita reiciendis, quo
                            </a>
                        </h1>
                        <small>
                            in stock
                        </small>
                        <ul>
                            <li>category : item category</li>
                            <li>color : black</li>
                        </ul>
                        <div>
                            <form action="" method="POST">
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                                <button type="submit">change</button>
                            </form>
                            <a href="">delete</a>
                            <a href="">save for later</a>
                            <a href="">compare with similar</a>
                            <a href="">share</a>
                        </div>
                    </div>
                    <div class="price">
                        <h3>$ 45</h3>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="img"></div>
                    <div class="text">
                        <h1>
                            <a href="">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita reiciendis, quo
                            </a>
                        </h1>
                        <small>
                            in stock
                        </small>
                        <ul>
                            <li>category : item category</li>
                            <li>color : black</li>
                        </ul>
                        <div>
                            <form action="" method="POST">
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                                <button type="submit">change</button>
                            </form>
                            <a href="">delete</a>
                            <a href="">save for later</a>
                            <a href="">compare with similar</a>
                            <a href="">share</a>
                        </div>
                    </div>
                    <div class="price">
                        <h3>$ 45</h3>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>subtotal (4 items): $500</h3>
            <a href="checkout.html">proceed to checkout</a>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>