<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        shopping mall
    </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header id="#top">
        <div>
            <h1> <a href="index.html">E - <span>commerce</span></a></h1>
            <form class="search" action="">
                <input type="search" name="search_store" class="search_store">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <div>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <a href="">wish list</a>
            </div>
            <div>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <a href="">gift cards</a> 
            </div>
            <!-- <div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="">sign in</a>
            </div> -->
            <div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>hello <a href="">skills</a> || <a href="">logout</a></span>
            </div>
            <div>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <a href="cart.html">cart (10)</a>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <a class="product_categories" >categories</a>
                </div>
                <div class="categories_dropDown" >
                    <ul>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics the dfdsaf adfkdf adfd</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <a href="">shop</a>
                <a href="">product</a>
                <a href="">blog</a>
                <a href="">new in</a>
                <a href="">trend</a>
                <a href="">popular</a>
                <a href="">collection</a>
            </div>
            <div>
                <div>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <a href="">help</a>
                </div>
                <div class="currency">
                    en/us
                </div>
            </div>
        </div>
    </header>
    <div class="abstract_options">
        <ul>
            <li>
                <a href="#top">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="">              
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="">              
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <section class="cart">
        <div>
            <div>
                <h1>shopping cart</h1>
                <span class="header">  
                    <a href="">select all</a>
                    <h2>price</h2>
                </span>
                <div class="order_item">
                    <div>
                        <form action="" class="item_select" method="post">
                                <button class="select selected" id="select" value="selected">. .</button>
                        </form>                        
                        <div class="img">
                            <img src="/media/images/phone4.jpg" alt="">
                        </div>
                        <div class="text">
                            <h1>
                                <a href="product_view.html">
                                    order_item product name 
                                </a>
                            </h1>
                            <ul>
                                <li> <b>category :</b> item category</li>
                                <li> <b>color :</b> black</li>
                                <li> <b>price :</b> $ 59.00</li>
                                <li> <b>instock :</b> 100 units</li>
                            </ul>
                            <div>
                                <form action="" method="POST" class="change_qty_form">
                                    <div>
                                        <input type="hidden" name="order_item_id" value="{{ order_item.id }}">
                                        <button class="reduce_qty">-</button>
                                        <input type="text" name="quantity_val" class="quantity_val" value="1" data-price="{{ order_item.product.price }}" disabled>
                                        <button type="submit" class="add_qty">+</button>
                                    </div>
                                    <div class="div">
                                        <button class="delete_order_item">delete</button>
                                        <button type="button">save to whish list</button>
                                        <button type="button">compare with similar</button>
                                        <button type="button">share</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="price">
                            <h3 class="product_price">$ 54</h3>
                        </div>
                    </div>
                </div>
                <div class="order_item">
                    <div>
                        <form action="" class="item_select" method="post">
                                <button class="select selected" id="select" value="selected">. .</button>
                        </form>                        
                        <div class="img">
                            <img src="/media/images/phone1.webp" alt="">
                        </div>
                        <div class="text">
                            <h1>
                                <a href="product_view.html">
                                    order_item product name 
                                </a>
                            </h1>
                            <ul>
                                <li> <b>category :</b> item category</li>
                                <li> <b>color :</b> black</li>
                                <li> <b>price :</b> $ 59.00</li>
                                <li> <b>instock :</b> 100 units</li>
                            </ul>
                            <div>
                                <form action="" method="POST" class="change_qty_form">
                                    <div>
                                        <input type="hidden" name="order_item_id" value="{{ order_item.id }}">
                                        <button class="reduce_qty">-</button>
                                        <input type="text" name="quantity_val" class="quantity_val" value="1" data-price="{{ order_item.product.price }}" disabled>
                                        <button type="submit" class="add_qty">+</button>
                                    </div>
                                    <div class="div">
                                        <button class="delete_order_item">delete</button>
                                        <button type="button">save for later</button>
                                        <button type="button">compare with similar</button>
                                        <button type="button">share</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="price">
                            <h3 class="product_price">$ 54</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>subtotal (4 items): $500</h3>
                <a href="checkout.html">proceed to checkout</a>
            </div>
        </div>
        <div class="second_design">
            <div>
                <h1>recently veiwed</h1>
                <a href="">view all</a>
            </div>
            <div class="flex">
                <button class="slide_left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <div class="flex_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <button class="slide_right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
            <div>
                <ul>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fourth_design">
            <div>
                <img src="/media/images/home-11.webp" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="/media/images/home-12.webp" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="/media/images/home-13.webp" alt="">
                <a href="">shop now</a>
            </div>
        </div>
        <br><br>
    </section>
    <footer>
        <div>
            <h1>subscribe to our newsletter</h1>
            <p>Get the latest updates on new products and upcoming sales</p>
            <form class="news_letter" action="" method="POST">
                <input type="search" name="newsletter" class="newsletter">
                <button class="submit" >submit</button>
            </form>
        </div>
        <div>
            <div>
                <h4>shop</h4>
                <ul>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">view all</a></li>
                </ul>
            </div>
            <div>
                <h4>top brands</h4>
                <ul>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">view all</a></li>
                </ul>
            </div>
            <div>
                <h4>further info</h4>
                <ul>
                    <li><a href="">about</a></li>
                    <li><a href="">customer service</a></li>
                    <li><a href="">reward program</a></li>
                    <li><a href="">shipping & returns</a></li>
                    <li><a href="">privacy policy</a></li>
                    <li><a href="">terms & conditions</a></li>
                    <li><a href="">blog</a></li>
                </ul>
            </div>
            <div>
                <h4>customer service</h4>
                <ul>
                    <li><a href="">search terms</a></li>
                    <li><a href="">advance search</a></li>
                    <li><a href="">orders and returns</a></li>
                    <li><a href="">contact us</a></li>
                    <li><a href="">theme FAQs</a></li>
                    <li><a href="">consultant</a></li>
                    <li><a href="">store locations</a></li>
                </ul>
            </div>
            <div>
                <h4>E-commerce</h4>
                <ul>
                    <li>contact us:</li>
                    <li>202 rupukwu Rd, Nigeria, TN 38554</li>
                    <li>call us : <a href="tel:+2348108704178">+2348108704178</a></li>
                    <li>email us: <a href="mailto:perfectomerchants@gmail.com">perfectomerchants@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="flex">
                <div>
                    <p>
                        © 2023 Ella Demo. All Rights Reserved. Powered By Shopify.
                        <br>
                        Shopify Themes By Halothemes.net
                    </p>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>