<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        shopping mall
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>
            <a href="index.html">
                skills shopping
            </a>
        </h1>
        <p>checkout (4 items)</p>
        <p>secured</p>
    </header>
    <section class="checkout">
        <div>
            <small>express checkout</small>
            <div>
                <a href="">shop pay</a>
                <a href="">G pay</a>
            </div>
            <div>or</div>
            <div>
                <h2>contact</h2>
                <form action="">
                    <input type="email" name="" id="" placeholder="enter your email">
                    <input type="checkbox" name="checkbox" id="checkbox" >
                    <label for="checkbox">Email me with news and offers</label>
                    <h2>
                        delivery method
                    </h2>
                    <input type="radio" name="delivery" value="delivery" id="delivery">
                    <label for="delivery">ship</label>
                    <input type="radio" name="delivery" value="delivery" id="delivery">
                    <label for="delivery">pick up</label>
                    <h2>
                        shipping address
                    </h2>
                    <select name="country" id="">
                        <option value="">country</option>
                        <option value="">lagos</option>
                    </select>
                    <input type="text" name="first_name" id="" placeholder="first name">
                    <input type="text" name="last_name" id="" placeholder="last name">
                    <input type="text" name="address" id="" placeholder="address">
                    <input type="text" name="appartment" id="" placeholder="appartment, suite, e.t.c ">
                    <input type="text" name="city" id="" placeholder="city">
                    <select name="state" id="">
                        <option value="">state</option>
                        <option value="">lagos</option>
                    </select>
                    <input type="text" name="postal_code" id="" placeholder="postal code">
                    <div>
                        <a href="">return to cart</a>
                        <button type="submit">continue to payment</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <img src="" alt="">
                    <div class="quantity">4</div>
                    <p>item name and category</p>
                    <p>$50</p>
                </div>
                <div>
                    <img src="" alt="">
                    <div class="quantity">4</div>
                    <p>item name and category</p>
                    <p>$50</p>
                </div>
                <div>
                    <img src="" alt="">
                    <div class="quantity">4</div>
                    <p>item name and category</p>
                    <p>$50</p>
                </div>
            </div>
            <form action="">
                <input type="text" name="discount" id="" placeholder="discount code">
                <button type="submit">apply</button>
            </form>
            <div>
                <ul>
                    <li>subtotal:</li>
                    <li>shipping:</li>
                    <li>total:</li>
                </ul>
                <ul>
                    <li>$108.00</li>
                    <li>$108.00</li>
                    <li>$108.00</li>
                </ul>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>