<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header id="#top">
        <div>
            <h1> <a href="">E - <span>commerce</span></a></h1>
            <form class="search" action="">
                <input type="search" name="search_store" class="search_store">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <div>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <a href="">wish list</a>
            </div>
            <div>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <a href="">gift cards</a> 
            </div>
            <!-- <div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="">sign in</a>
            </div> -->
            <div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>hello <a href="">skills</a> || <a href="">logout</a></span>
            </div>
            <div>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <a href="cart.html">cart (10)</a>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <a class="product_categories" >categories</a>
                </div>
                <div class="categories_dropDown" >
                    <ul>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics the dfdsaf adfkdf adfd</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <a href="">shop</a>
                <a href="">product</a>
                <a href="">blog</a>
                <a href="">new in</a>
                <a href="">trend</a>
                <a href="">popular</a>
                <a href="">collection</a>
            </div>
            <div>
                <div>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <a href="">help</a>
                </div>
                <div class="currency">
                    en/us
                </div>
            </div>
        </div>
    </header>
    <div class="abstract_options">
        <ul>
            <li>
                <a href="#top">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="">              
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="">              
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <section class="home_page">
        <div>
            <div>
                <div>
                    <h1>
                        <span>Huge saving</span>
                        on each sales
                    </h1>
                    <p>
                        save up to 70% off on each sales
                    </p>
                    <a href="">
                        shop now
                    </a>
                </div>
                <div>
                    <img src="/media/images/tv.jpg" alt="">
                </div>
            </div>
            <div>
                <ul>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h1>30% off for new customers</h1>
            <p>
                Free Shipping & Free Return at no order min. Restrictions apply
            </p>
            <a href="">view our privacy policy to learn more</a>
        </div>
        <div class="second_design">
            <div>
                <h1>flash details</h1>
                <a href="">view all</a>
            </div>
            <div class="flex">
                <button class="slide_left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <div class="flex_item">
                    <div class="img">
                        <img src="/media/images/product-2.webp" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="/media/images/product-3.webp" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="/media/images/product-4.webp" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="/media/images/product-laptop-7.webp" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <button class="slide_right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
            <div>
                <ul>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="second_design">
            <div>
                <h1>new products</h1>
                <a href="">view all</a>
            </div>
            <div class="flex">
                <button class="slide_left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <div class="flex_item">
                    <div class="img">
                        <img src="/media/images/product-laptop-5.webp" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="/media/images/product-laptop-6.webp" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="/media/images/product-laptop-7.webp" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="/media/images/product-1.jpg" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <button class="slide_right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
            <div>
                <ul>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="third_design">
            <h3>clothing, shoes & accessories</h3>
            <div class="flex">
                <div class="left">
                    <img src="/media/images/home-14.webp" alt="">
                </div>
                <div class="center">
                    <div>
                        <button class="slide_left">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </button>
                        <div class="flex_item">
                            <div class="img">
                                <img src="/media/images/product-1.jpg" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="/media/images/product-2.webp" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="/media/images/product-3.webp" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <button class="slide_right">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="flex">
                        <div>
                            <h3>for men</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="/media/images/gaming-accessories.avif" alt="">
                        </div>
                    </div>
                    <div class="flex">
                        <div>
                            <h3>for women</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="/media/images/accessories.avif" alt="">
                        </div>
                    </div>                    
                    <div class="flex">
                        <div>
                            <h3>for kids</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="/media/images/consumables.avif" alt="">
                        </div>
                    </div>
                    <div>
                        <a href="">view all categories</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fourth_design">
            <div>
                <img src="/media/images/home-11.webp" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="/media/images/home-12.webp" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="/media/images/home-13.webp" alt="">
                <a href="">shop now</a>
            </div>
        </div>
        <div class="third_design">
            <h3>clothing, shoes & accessories</h3>
            <div class="flex">
                <div class="left">
                    <img src="/media/images/home-19-banner-product-block.webp" alt="">
                </div>
                <div class="center">
                    <div>
                        <button class="slide_left">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </button>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <button class="slide_right">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="flex">
                        <div>
                            <h3>for men</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="flex">
                        <div>
                            <h3>for women</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>                    
                    <div class="flex">
                        <div>
                            <h3>for kids</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div>
                        <a href="">view all categories</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fourth_design">
            <div>
                <img src="" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="/media/images/product-1.jpg" alt="">
                <a href="">shop now</a>
            </div>
        </div>
        <div class="third_design">
            <h3>clothing, shoes & accessories</h3>
            <div class="flex">
                <div class="left">
                    <img src="/media/images/product-3.webp" alt="">
                </div>
                <div class="center">
                    <div>
                        <button class="slide_left">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </button>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <button class="slide_right">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="flex">
                        <div>
                            <h3>for men</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="flex">
                        <div>
                            <h3>for women</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>                    
                    <div class="flex">
                        <div>
                            <h3>for kids</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div>
                        <a href="">view all categories</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fourth_design">
            <div>
                <img src="" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="/media/images/product-1.jpg" alt="">
                <a href="">shop now</a>
            </div>
        </div>
        <div class="third_design">
            <h3>clothing, shoes & accessories</h3>
            <div class="flex">
                <div class="left">
                    <img src="/media/images/home-14.webp" alt="">
                </div>
                <div class="center">
                    <div>
                        <button class="slide_left">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </button>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="/media/images/product-laptop-5.webp" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <button class="slide_right">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="flex">
                        <div>
                            <h3>for men</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="flex">
                        <div>
                            <h3>for women</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>                    
                    <div class="flex">
                        <div>
                            <h3>for kids</h3>
                            <a href="">shop now</a>
                        </div>
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div>
                        <a href="">view all categories</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="fourth_design">
            <div>
                <img src="" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="" alt="">
                <a href="">shop now</a>
            </div>
            <div>
                <img src="/media/images/product-1.jpg" alt="">
                <a href="">shop now</a>
            </div>
        </div>
        <div class="second_design">
            <div>
                <h1>recommended for you</h1>
                <a href="">view all</a>
            </div>
            <div class="flex">
                <button class="slide_left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <div class="flex_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <div class="flex_item">
                    <div class="img">
                        <img src="" alt="">
                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="/templates/product_view.html">name of item</a>
                        </h2>
                        <h3>price: <span>$ 49.00</span></h3>
                        <h3>
                            <a href="">see similar</a>
                        </h3>
                        <form action="" class="cart" method="POST">
                            <input type="hidden" name="product_id" class="product_id">
                            <button class="add_to_cart">add to cart</button>
                            <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
                <button class="slide_right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
            <div>
                <ul>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                    <li>
                        <button>.</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fifth_design">
            <div class="flex">
                <div class="flex_item">
                    <div>
                        <img src="" alt="">
                    </div>
                    <h4>quality and saving</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore quis quam, voluptatum porro quibusdam ullam dolore consequatur minima, quaerat alias expedita sed! Odio, deleniti voluptatibus blanditiis eligendi officia excepturi!
                    </p>
                </div>
                <div class="flex_item">
                    <div>
                        <img src="" alt="">
                    </div>
                    <h4>fast shipping</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore quis quam, voluptatum porro quibusdam ullam dolore consequatur minima, quaerat alias expedita sed! Odio, deleniti voluptatibus blanditiis eligendi officia excepturi!
                    </p>
                </div>
                <div class="flex_item">
                    <div>
                        <img src="" alt="">
                    </div>
                    <h4>payment security</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore quis quam, voluptatum porro quibusdam ullam dolore consequatur minima, quaerat alias expedita sed! Odio, deleniti voluptatibus blanditiis eligendi officia excepturi!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <h1>subscribe to our newsletter</h1>
            <p>Get the latest updates on new products and upcoming sales</p>
            <form class="news_letter" action="" method="POST">
                <input type="search" name="newsletter" class="newsletter">
                <button class="submit" >submit</button>
            </form>
        </div>
        <div>
            <div>
                <h4>shop</h4>
                <ul>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">view all</a></li>
                </ul>
            </div>
            <div>
                <h4>top brands</h4>
                <ul>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">view all</a></li>
                </ul>
            </div>
            <div>
                <h4>further info</h4>
                <ul>
                    <li><a href="">about</a></li>
                    <li><a href="">customer service</a></li>
                    <li><a href="">reward program</a></li>
                    <li><a href="">shipping & returns</a></li>
                    <li><a href="">privacy policy</a></li>
                    <li><a href="">terms & conditions</a></li>
                    <li><a href="">blog</a></li>
                </ul>
            </div>
            <div>
                <h4>customer service</h4>
                <ul>
                    <li><a href="">search terms</a></li>
                    <li><a href="">advance search</a></li>
                    <li><a href="">orders and returns</a></li>
                    <li><a href="">contact us</a></li>
                    <li><a href="">theme FAQs</a></li>
                    <li><a href="">consultant</a></li>
                    <li><a href="">store locations</a></li>
                </ul>
            </div>
            <div>
                <h4>E-commerce</h4>
                <ul>
                    <li>contact us:</li>
                    <li>202 rupukwu Rd, Nigeria, TN 38554</li>
                    <li>call us : <a href="tel:+2348108704178">+2348108704178</a></li>
                    <li>email us: <a href="mailto:perfectomerchants@gmail.com">perfectomerchants@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="flex">
                <div>
                    <p>
                        © 2023 Ella Demo. All Rights Reserved. Powered By Shopify.
                        <br>
                        Shopify Themes By Halothemes.net
                    </p>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/static/script/index.js"></script>
</body>
</html>