<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bliss Tech</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section>
        <head>
            <marquee behavior="" direction="">SPECIAL OFFER: ENJOY 3 MONTHS OF SHOPIFY FOR $1/MONTH
            </marquee>
        </head>
        <header>
            <h1>BLISS TECH+</h1>
            <form class="search" action="">
                <input type="text" placeholder="Search the store">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
            <h2>Available 27/7 at <br>(081) 123-4567 </h2>
            <div class="header_left">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-user" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </div>
        </header>
        <div class="header">
            <div class="left">
                <h1><a href="">Theme Demo</a> </h1>
                <h1><a href="">Shop</a></h1>
                <h1><a href="">Products</a></h1>
                <h1><a href="">New In</a></h1>
                <h1><a href="">Must Have</a></h1>
                <h1><a href="">Collections</a></h1>
                <h1><a href="">Pages</a></h1>
                <h1><a href="">Buy Ella</a></h1>
            </div>
            <div class="right">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <h1>Help</h1>
                <h1>EN / USD</h1> 
            </div>
        </div>
        <div class="container">
            <img src="/assets/img/home 1st.webp" alt="" width="100%">
            <div class="text">
                <h1>Huge Savings on UHD Television</h1>
                <h2>Sale up to 70% off on selected items</h2>
                <button><a href="">Shop Now</a></button>
            </div>
        </div>
        <div class="second_container">
            <h1>Affirm</h1>
            <h2>BUY NOW, PAY LATER STARTING AT 0% APR</h2>
            <h3><a href="">LEARN MORE</a></h3>
        </div>
        <div class="third_container">
            <div>
                <i class="fa fa-truck" aria-hidden="true"></i>
                <h1>Free Shipping & Returns</h1>
            </div>
            <div>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <h1>Lowest Price Guarantee</h1> 
            </div>
            <div>
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <h1>Longest Warranties Offer</h1>
            </div>
        </div>
        <div class="container_four">
            <div>
                <img src="" alt="" >
            </div>
            <div>
                <img src="" alt="" >
            </div>
            <div>
                <img src="" alt="" >
            </div>
        </div>
        <div class="container_five">
            <div>
                <img src="" alt="" width="48%">
            </div>
            <div>
                <img src="" alt="" width="48%">
            </div>
        </div>
        <div class="page_five">
            <h1>Flash Deals</h1>
            <div class="page_five_flex">
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1><a href="">Choose Options</a></h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1><a href="">Choose Options</a></h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1><a href="">Choose Options</a></h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="this is an image">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1><a href="">Choose Options</a></h1>
                   </button>
                </div>
            </div>
        </div>
        <div class="page_6">
            <img src="/assets/img/page 6.webp" alt="" width="100%">
        </div>
        <div class="page_7">
            <h1>Top Categories</h1>
            <div class="first_categories">
                <div><img src="/assets/img/mobile-phones.avif" alt=""> <h1><a href="">Mobiile Phones</a> </h1></div>
                <div><img src="/assets/img/laptops-tablets.avif" alt=""> <h1><a href="">Laptops & Tablets</a> </h1></div>
                <div><img src="/assets/img/televisions.avif" alt=""> <h1><a href="">Televisions</a> </h1></div>
                <div><img src="/assets/img/pcs-accessories.avif" alt=""> <h1><a href="">Pcs & Accessories</a> </h1></div>
                <div><img src="/assets/img/audio-video.avif" alt=""> <h1><a href="">Audio & Video</a> </h1></div>
                <div><img src="/assets/img/gaming-accessories.avif" alt=""> <h1><a href="">Gaming & Accessories</a> </h1></div>
            </div>
            <div class="second_categories">
                <div><img src="/assets/img/home-appliances.avif" alt=""> <h1><a href="">Home Appliances</a> </h1></div>
                <div><img src="/assets/img/kitchen-appliances.avif" alt=""> <h1><a href="">Kitchen appliances</a> </h1></div>
                <div><img src="/assets/img/cameras.avif" alt=""> <h1><a href="">Cameras</a> </h1></div>
                <div><img src="/assets/img/consumables.avif" alt=""> <h1><a href="">Comsumable</a> </h1></div>
                <div><img src="/assets/img/smart-homes.avif" alt=""> <h1><a href="">Smart Homes</a> </h1></div>
                <div><img src="/assets/img/accessories.avif" alt=""> <h1><a href="">Accessories</a> </h1></div>
            </div>
        </div>
        <div class="page_8">
            <h1>New Products</h1>
            <div class="page_8_firstflex">
                <div class="page_8_flex">
                    <div>
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                        <p>$49.00</p> 
                        <button>
                            <h1>Choose Options</h1>
                        </button>
                    </div>
                    <div>
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                        <p>$49.00</p> 
                        <button>
                            <h1>Choose Options</h1>
                        </button>
                    </div>
                    <div>
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                        <p>$49.00</p> 
                        <button>
                            <h1>Choose Options</h1>
                        </button>
                    </div>
                </div>
                <div class="right_image">
                    <img src="/assets/img/Blue Minimalist Company Letterhead.jpg" alt="">
                    <h1><a href="">shop now</a></h1>
                </div>
            </div>  
        </div>
        <div class="page_9">
            <div>
                <i></i>
                <h1>QUALITY AND SAVING</h1>
                <p>Comprehensive quality control and affordable prices</p>
            </div>
            <div>
                <i></i>
                <h1>GLOBAL WAREHOUSE</h1>
                <p>Comprehensive quality control and affordable prices</p>
            </div>
            <div>
                <i></i>
                <h1>FAST SHIPPING</h1>
                <p>Fast and convenient door to door delivery</p>
            </div>
            <div>
                <i></i>
                <h1>PAYMENT SECURITY</h1>
                <p>More than 10 different secure payment methods</p>
            </div>
            <div>
                <i></i>
                <h1>HAVE QUESTIONS?</h1>
                <p>24/7 Customer Service - We’re here and happy to help!</p>
            </div>
        </div>
        <div class="page_10">
            <h1>Top Mobile Phone</h1>
            <div class="page_10_flex">
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
            </div>
        </div>
        <div class="page_10x">
            <img src="/assets/img/page 10 left.webp" alt="">
            <img src="/assets/img/page 10 right.webp" alt="">
            
        </div>
        <div class="page_11">
            <h1>Top Television</h1>
            <div class="page_11_flex">
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
        
            </div>
        </div>
        <div class="page_12">
            <img src="/assets/img/page12.webp" alt="" width="100%">
        </div>
        <div class="page_12">
            <h1>Top Home Appliances</h1>
            <div class="page_12_flex">
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
            </div>
        </div>
        <div class="page_13">
            <img src="/assets/img/page 13.webp" alt="" width="100%">
        </div>
        <div class="page_14">
            <h1>Featured Products</h1>
            <div class="page_14_flex">
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
                <div>
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                    <p>$49.00</p> 
                   <button>
                    <h1>Choose Options</h1>
                   </button>
                </div>
            </div>
        </div>
        <div class="page_15">
            <h1>Featured Brands</h1>
            <div class="page_15_flex">
                <img src="/assets/img/1logo.webp" alt="">
                <img src="/assets/img/2logo.avif" alt="">
                <img src="/assets/img/3logo.webp" alt="">
                <img src="/assets/img/4logo.avif" alt="">
                <img src="/assets/img/5logo.webp" alt="">
                <img src="/assets/img/6logo.avif" alt="">
            </div>
            <div class="page_14">
                <h1>Recommended For you</h1>
                <div class="page_14_flex">
                    <div>
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                        <p>$49.00</p> 
                       <button>
                        <h1>Choose Options</h1>
                       </button>
                    </div>
                    <div>
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                        <p>$49.00</p> 
                       <button>
                        <h1>Choose Options</h1>
                       </button>
                    </div>
                    <div>
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                        <p>$49.00</p> 
                       <button>
                        <h1>Choose Options</h1>
                       </button>
                    </div>
                    <div>
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                        <p>$49.00</p> 
                       <button>
                        <h1>Choose Options</h1>
                       </button>
                    </div>
                    <div>
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <h1><a href="">(product 14) sample - computers & <br> Accessories for sale - black</a></h1> <br>
                        <p>$49.00</p> 
                       <button>
                        <h1>Choose Options</h1>
                       </button>
                    </div>
                </div>
            </div>
            <div>
                <img src="/assets/img/shop.html" alt="">
            </div>
            
    </section>
    
</body>
</html>














