<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        shopping mall
    </title>
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>
            <a href="">
                skills shopping
            </a>
        </h1>
        <form action="" method="POST">
            <input type="search" name="search_product" id="">
            <button type="submit">search</button>
        </form>
        <ul>
            <li>
                <p>
                    hello skills || 
                    <a href="">log out</a>
                </p>
            </li>
            <li>
                <a href="">returns & orders</a>
            </li>
            <li>
                4 <a href="cart.html"> <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
        </ul>
    </header>
    <section class="home">
        <div>
            <h1> this is the home page</h1>
        </div>
        <div>
            <h1> featured product </h1>
            <p>Cosmo de milancelos</p>
            <div class="flex">
                <div>
                    <div class="img">

                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="product_view.html">name of item</a>
                        </h2>
                        <h3>$49.00</h3>
                        <div>
                            <a href="">add to cart</i></a>
                            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="img">

                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="">name of item</a>
                        </h2>
                        <h3>$49.00</h3>
                        <div>
                            <a href="">add to cart</i></a>
                            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="img">

                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="">name of item</a>
                        </h2>
                        <h3>$49.00</h3>
                        <div>
                            <a href="">add to cart</i></a>
                            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="img">

                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="">name of item</a>
                        </h2>
                        <h3>$49.00</h3>
                        <div>
                            <a href="">add to cart</i></a>
                            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="img">

                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="">name of item</a>
                        </h2>
                        <h3>$49.00</h3>
                        <div>
                            <a href="">add to cart</i></a>
                            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="img">

                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="">name of item</a>
                        </h2>
                        <h3>$49.00</h3>
                        <div>
                            <a href="">add to cart</i></a>
                            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="img">

                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="">name of item</a>
                        </h2>
                        <h3>$49.00</h3>
                        <div>
                            <a href="">add to cart</i></a>
                            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="img">

                    </div>
                    <div class="text">
                        <small>item category</small>
                        <h2>
                            <a href="">name of item</a>
                        </h2>
                        <h3>$49.00</h3>
                        <div>
                            <a href="">add to cart</i></a>
                            <a href=""><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1>this is another content</h1>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>