<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        shopping mall
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>
            <a href="index.html">
                skills shopping
            </a>
        </h1>
        <p>secured</p>
    </header>
    <section class="order_complete">
        <div>
            <h1>thank you !</h1>
            <div>
                <h3>Your order is confirmed</h3>
                <p>You’ll receive an email when your order is ready. </p>
            </div>
            <div>
                <h3>order details</h3>
                <div>
                    <ul>
                        <li>contact information</li>
                        <li>skillsnwokolo372@gmail.com</li>
                    </ul>
                    <ul>
                        <li>payment method</li>
                        <li>Visa ending with 4242 - $128.00</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>shipping address</li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur
                        </li>
                    </ul>
                    <ul>
                        <li>billing address</li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        </li>
                    </ul>
                    <ul>
                        <li>shipping method</li>
                        <li>International shipping</li>
                    </ul>
                </div>
            </div>
            <div>
                <p>need help ? <a href="checkout.html">contact us</a></p>
                <a href="index.html">continue shopping</a>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <img src="" alt="">
                    <div class="quantity">4</div>
                    <p>item name and category</p>
                    <p>$50</p>
                </div>
                <div>
                    <img src="" alt="">
                    <div class="quantity">4</div>
                    <p>item name and category</p>
                    <p>$50</p>
                </div>
                <div>
                    <img src="" alt="">
                    <div class="quantity">4</div>
                    <p>item name and category</p>
                    <p>$50</p>
                </div>
            </div>
            <div>
                <ul>
                    <li>subtotal:</li>
                    <li>shipping:</li>
                    <li>total:</li>
                </ul>
                <ul>
                    <li>$108.00</li>
                    <li>$108.00</li>
                    <li>$108.00</li>
                </ul>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>