<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        shopping mall
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>
            <a href="index.html">
                skills shopping
            </a>
        </h1>
        <p>checkout (4 items)</p>
        <p>secured</p>
    </header>
    <section class="payment">
        <div>
            <div>
                <ul>
                    <li>contact :</li>
                    <li>ship to :</li>
                    <li>method :</li>
                </ul>
                <ul>
                    <li>skillsnwokolo@gmail.com</li>
                    <li>faldkjfadf d fakdfkdfa dfadfasdff</li>
                    <li>International Shipping · $20.00</li>
                </ul>
                <ul>
                    <li><a href="">change</a></li>
                    <li><a href="">change</a></li>
                    <li><a href="">change</a></li>
                </ul>
            </div>
            <form action="">
                <h2>
                    payment
                </h2>
                <small>
                    All transactions are secure and encrypted.
                </small>
                <div>
    
                </div>
                <h2>
                    billing address
                </h2>
                <small>
                    Select the address that matches your card or payment method.
                </small>
                <input type="radio" name="billing" id="">
                <label for="billing">same as shipping address</label>
                <input type="radio" name="billing" id="">
                <label for="billing">use a different billing address</label>
                <h2>remember me</h2>
                <input type="checkbox" name="remember" id="">
                <label for="remember">Save my information for a faster checkout</label>
                <div>
                    <a href="checkout.html">return to shipping</a>
                    <button type="submit">paynow</button>
                </div>
            </form>
        </div>
        <div>
            <div>
                <div>
                    <img src="" alt="">
                    <div class="quantity">4</div>
                    <p>item name and category</p>
                    <p>$50</p>
                </div>
                <div>
                    <img src="" alt="">
                    <div class="quantity">4</div>
                    <p>item name and category</p>
                    <p>$50</p>
                </div>
                <div>
                    <img src="" alt="">
                    <div class="quantity">4</div>
                    <p>item name and category</p>
                    <p>$50</p>
                </div>
            </div>
            <form action="">
                <input type="text" name="discount" id="" placeholder="discount code">
                <button type="submit">apply</button>
            </form>
            <div>
                <ul>
                    <li>subtotal:</li>
                    <li>shipping:</li>
                    <li>total:</li>
                </ul>
                <ul>
                    <li>$108.00</li>
                    <li>$108.00</li>
                    <li>$108.00</li>
                </ul>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>