<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        shopping mall
    </title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1>
            <a href="index.html">
                skills shopping
            </a>
        </h1>
        <form action="" method="POST">
            <input type="search" name="search_product" id="">
            <button type="submit">search</button>
        </form>
        <ul>
            <li>
                <p>
                    hello skills || 
                    <a href="">log out</a>
                </p>
            </li>
            <li>
                <a href="">returns & orders</a>
            </li>
            <li>
                4 <a href="cart.html"> <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
        </ul>
    </header>
    <section class="product_view">
        <span class="header">
            <a href="index.html">home</a>
            <p>product category</p>
            <p>product name</p>
        </span>
        <div class="flex" >
            <div>
                <div class="image">
                    <img src="" alt="">
                </div>
                <div class="flex_image">
                    <
                    <div></div>
                    <div></div>
                    <div></div>
                    >
                </div>
            </div>
            <div>
                <h2>product category - name of item</h2>
                <small>
                    no reviews
                </small>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ab maxime, harum totam accusantium praesentium beatae magni nam itaque, porro ipsa ullam laboriosam consequatur, nisi adipisci non modi sapiente. Omnis!
                </p>
                <ul>
                    <li>category : item category</li>
                    <li>color : black</li>
                </ul>
                <h3>
                    $ 59.00
                </h3>
                <span class="prompt">
                    please hurry! only 9 left in stock
                </span>
                <form action="" method="POST">
                    <label for="quantity">quantity:</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                    </select>
                    <button type="submit">change</button>
                </form>
                <p>
                    subtotal: $59.00
                </p>
                <a href="" class="colored">add to cart</a>
                <input type="checkbox" name="checkbox" id="checkbox">
                <label for="checkbox">i agree with the terms and conditions</label>
                <a href="checkout.html">buy now</a>
            </div>
        </div>
        <div class="content">
            <h1> descriptions and other informations</h1>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>