<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    <header id="#top">
        <div>
            <h1> <a href="">E - <span>commerce</span></a></h1>
            <form class="search" action="">
                <input type="search" name="search_store" class="search_store">
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
            <div>
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <a href="">wish list</a>
            </div>
            <div>
                <i class="fa fa-gift" aria-hidden="true"></i>
                <a href="">gift cards</a> 
            </div>
            <!-- <div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <a href="">sign in</a>
            </div> -->
            <div>
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>hello <a href="">skills</a> || <a href="">logout</a></span>
            </div>
            <div>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <a href="cart.html">cart (10)</a>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <i class="fa fa-th" aria-hidden="true"></i>
                    <a class="product_categories" >categories</a>
                </div>
                <div class="categories_dropDown" >
                    <ul>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics the dfdsaf adfkdf adfd</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                        <li>
                            <i class="fa fa-television" aria-hidden="true"></i>
                            <a href="">electronics</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <a href="">shop</a>
                <a href="">product</a>
                <a href="">blog</a>
                <a href="">new in</a>
                <a href="">trend</a>
                <a href="">popular</a>
                <a href="">collection</a>
            </div>
            <div>
                <div>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <a href="">help</a>
                </div>
                <div class="currency">
                    en/us
                </div>
            </div>
        </div>
    </header>
    <div class="abstract_options">
        <ul>
            <li>
                <a href="#top">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="">              
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="">              
                    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <section class="search_page_container">
        <div class="search_page">
            <div class="left">
                <div class="categories">
                    <h1>CATEGORIES</h1>
                    <ul>
                        <li><a href=""> Theme Deomo</a></li>
                        <li><a href=""> Shop</a></li>
                        <li><a href="">Product</a> </li>
                        <li><a href="">Blog</a> </li>
                        <li><a href="">Pages</a> </li>
                        <li><a href="">New in</a> </li>
                        <li><a href="">Collections</a> </li>
                        <li><a href="">Buy Ella</a> </li>
                    </ul>
                </div>
                <div class="price">
                    <div>
                        <h1>PRICE</h1>
                        <input type="number" placeholder="$0">
                    </div>
                    <button>
                       <a href="">Apply</a> 
                    </button>
                    </div>
                <div class="product_type">
                    <h1>PRODUCT TYPE</h1>
                    <ul>
                        <li>
                            <input type="checkbox">
                            <h4>Comodous(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Cosmopolis(8)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>De Fermentumo(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Dincidunteros(39)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Donatello(1)</h4>  
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Izabella(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Loremous(40)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Loremous Comodous(16)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Milancelos(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Solutmades(13)</h4>
                        </li>
                    </ul>
                    <ul>
    
                </div>
                <div class="brand">
                    <h1>BRAND</h1>
                    <ul>
                        <li>
                            <input type="checkbox">
                            <h4>Comodous(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Cosmopolis(8)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>De Fermentumo(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Dincidunteros(39)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Donatello(1)</h4>  
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Izabella(2)</h4>
                        </li>
                    </ul>
                    <h5>
                        <a href="">Show All</a>
                    </h5>
                </div>
                <div class="availability">
                    <h1>AVAILABILITY</h1>
                    <ul>
                        <li>
                            <input type="checkbox">
                            <h4>In shock(336)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Out of Stock(126)</h4>
                        </li>
                    </ul>    
                </div>
                <div class="color">
                    <h1>COLOR</h1>
                    <div class="firstflex">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="secondflex">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h5>
                        <a href="">Show All</a>
                    </h5>
    
                </div>
                <div class="size">
                    <h1>SIZE</h1>
                    <div>
                        <h5>XS</h5>
                        <h5>XSmall</h5>
                        <h5>S</h5>
                    </div>
                    <div>
                        <h5>Small</h5>
                        <h5>M</h5>
                        <h5>Medium</h5>
                    </div>
                    <div>
                        <h5>L</h5>
                        <h5>Large</h5>
                        <h5>XL</h5>
                    </div>
                    <div>
                        <h5>5</h5>
                        <h5>6</h5>
                        <h5>7</h5>
                        <h5>8</h5>
                    </div>
                </div>
                <div class="recent_post">
                    <h1>
                        RECENT POST
                    </h1>
                    <div class="image">
                        <img src="/media/images/pexels-mihai-vlasceanu-1400249.jpg" alt="">
                    </div>
                    <h2>
                        CUSTOM BLOCK
                    </h2>
                    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iure ipsam optio, enim officia culpa hic, qui assumenda alias reiciendis similique maxime praesentium architecto odit. Est possimus eveniet enim aperiam!</P>
                </div>
            </div>
            <div class="right">
                <div class="second_design">
                    <div>
                        <h1>355 Results Found For "Sample*"</h1>
                    </div>
                    <div class="flex">
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="flex_item">
                            <div class="img">
                                <img src="" alt="">
                            </div>
                            <div class="text">
                                <small>item category</small>
                                <h2>
                                    <a href="/templates/product_view.html">name of item</a>
                                </h2>
                                <h3>price: <span>$ 49.00</span></h3>
                                <h3>
                                    <a href="">see similar</a>
                                </h3>
                                <form action="" class="cart" method="POST">
                                    <input type="hidden" name="product_id" class="product_id">
                                    <button class="add_to_cart">add to cart</button>
                                    <button class="add_wish_list"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                            <li>
                                <button>.</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="total">
                    <h5>showing 1 of 355 pages</h5>
                    <button>NO MORE PRODUCTS</button>
                </div>
                <div class="article">
                    <h1><a href="">THERE ARE 55 PAGE(S) AND ARTICLE(S) FOR 'SAMPLE*</a> </h1>
                </div>                
                <div class="articles_page">
                    <div class="articles_page_left">
                        <div>
                            <h4>HTML SITE MA FOR PRJECT</h4>
                            <P>Products Test no variants 2 Test no variant (Product 04) Sample <br> - Gym For Sale (Product 03) Sample - Gym For...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                    </div>
                    <div class="articles_page_right">
                        <div>
                            <h4>HTML SITE MA FOR PRJECT</h4>
                            <P>Products Test no variants 2 Test no variant (Product 04) Sample <br> - Gym For Sale (Product 03) Sample - Gym For...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div>
            <h1>subscribe to our newsletter</h1>
            <p>Get the latest updates on new products and upcoming sales</p>
            <form class="news_letter" action="" method="POST">
                <input type="search" name="newsletter" class="newsletter">
                <button class="submit" >submit</button>
            </form>
        </div>
        <div>
            <div>
                <h4>shop</h4>
                <ul>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">view all</a></li>
                </ul>
            </div>
            <div>
                <h4>top brands</h4>
                <ul>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">electronics</a></li>
                    <li><a href="">clothes & accessories</a></li>
                    <li><a href="">view all</a></li>
                </ul>
            </div>
            <div>
                <h4>further info</h4>
                <ul>
                    <li><a href="">about</a></li>
                    <li><a href="">customer service</a></li>
                    <li><a href="">reward program</a></li>
                    <li><a href="">shipping & returns</a></li>
                    <li><a href="">privacy policy</a></li>
                    <li><a href="">terms & conditions</a></li>
                    <li><a href="">blog</a></li>
                </ul>
            </div>
            <div>
                <h4>customer service</h4>
                <ul>
                    <li><a href="">search terms</a></li>
                    <li><a href="">advance search</a></li>
                    <li><a href="">orders and returns</a></li>
                    <li><a href="">contact us</a></li>
                    <li><a href="">theme FAQs</a></li>
                    <li><a href="">consultant</a></li>
                    <li><a href="">store locations</a></li>
                </ul>
            </div>
            <div>
                <h4>E-commerce</h4>
                <ul>
                    <li>contact us:</li>
                    <li>202 rupukwu Rd, Nigeria, TN 38554</li>
                    <li>call us : <a href="tel:+2348108704178">+2348108704178</a></li>
                    <li>email us: <a href="mailto:perfectomerchants@gmail.com">perfectomerchants@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="flex">
                <div>
                    <p>
                        © 2023 Ella Demo. All Rights Reserved. Powered By Shopify.
                        <br>
                        Shopify Themes By Halothemes.net
                    </p>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>