<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/search.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <section class="search_page_container">
        <div class="text">
            <h1>355 Results Found For "Sample*"</h1>
        </div>
        <div class="search_page">
            <div class="left">
                <div class="categories">
                    <h1>CATEGORIES</h1>
                    <ul>
                        <li><a href=""> Theme Deomo</a></li>
                        <li><a href=""> Shop</a></li>
                        <li><a href="">Product</a> </li>
                        <li><a href="">Blog</a> </li>
                        <li><a href="">Pages</a> </li>
                        <li><a href="">New in</a> </li>
                        <li><a href="">Collections</a> </li>
                        <li><a href="">Buy Ella</a> </li>
                    </ul>
                </div>
                <div class="price">
                    <div>
                        <h1>PRICE</h1>
                        <input type="number" placeholder="$0">
                    </div>
                    <button>
                       <a href="">Apply</a> 
                    </button>
                    </div>
                <div class="product_type">
                    <h1>PRODUCT TYPE</h1>
                    <ul>
                        <li>
                            <input type="checkbox">
                            <h4>Comodous(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Cosmopolis(8)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>De Fermentumo(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Dincidunteros(39)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Donatello(1)</h4>  
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Izabella(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Loremous(40)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Loremous Comodous(16)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Milancelos(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Solutmades(13)</h4>
                        </li>
                    </ul>
                    <ul>
    
                </div>
                <div class="brand">
                    <h1>BRAND</h1>
                    <ul>
                        <li>
                            <input type="checkbox">
                            <h4>Comodous(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Cosmopolis(8)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>De Fermentumo(2)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Dincidunteros(39)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Donatello(1)</h4>  
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Izabella(2)</h4>
                        </li>
                    </ul>
                    <h5>
                        <a href="">Show All</a>
                    </h5>
                </div>
                <div class="availability">
                    <h1>AVAILABILITY</h1>
                    <ul>
                        <li>
                            <input type="checkbox">
                            <h4>In shock(336)</h4>
                        </li>
                        <li>
                            <input type="checkbox">
                            <h4>Out of Stock(126)</h4>
                        </li>
                    </ul>    
                </div>
                <div class="color">
                    <h1>COLOR</h1>
                    <div class="firstflex">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div class="secondflex">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h5>
                        <a href="">Show All</a>
                    </h5>
    
                </div>
                <div class="size">
                    <h1>SIZE</h1>
                    <div>
                        <h5>XS</h5>
                        <h5>XSmall</h5>
                        <h5>S</h5>
                    </div>
                    <div>
                        <h5>Small</h5>
                        <h5>M</h5>
                        <h5>Medium</h5>
                    </div>
                    <div>
                        <h5>L</h5>
                        <h5>Large</h5>
                        <h5>XL</h5>
                    </div>
                    <div>
                        <h5>5</h5>
                        <h5>6</h5>
                        <h5>7</h5>
                        <h5>8</h5>
                    </div>
                </div>
                <div class="recent_post">
                    <h1>
                        RECENT POST
                    </h1>
                    <div class="image">
                        <img src="/media/images/pexels-mihai-vlasceanu-1400249.jpg" alt="">
                    </div>
                    <h2>
                        CUSTOM BLOCK
                    </h2>
                    <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis iure ipsam optio, enim officia culpa hic, qui assumenda alias reiciendis similique maxime praesentium architecto odit. Est possimus eveniet enim aperiam!</P>
                </div>
            </div>
            <div class="right">
                <div class="first_div">
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="second_div">
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="second_div">
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="second_div">
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="second_div">
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="second_div">
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="second_div">
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="second_div">
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="second_div">
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="image">
                            <img src="" alt="">
                        </div>
                        <div class="text">
                            <h1>SODLING</h1>
                            <P>(PRODUCT 29) SAMPLE-Computers & Accessories For Sale</P>
                            <h2>$1,399.00</h2>
                        </div>
                        <div class="color">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="total">
                    <h5>showing 1 of 355 pages</h5>
                    <button>NO MORE PRODUCTS</button>
                </div>
                <div class="article">
                    <h1><a href="">THERE ARE 55 PAGE(S) AND ARTICLE(S) FOR 'SAMPLE*</a> </h1>
                </div>                
                <div class="articles_page">
                    <div class="articles_page_left">
                        <div>
                            <h4>HTML SITE MA FOR PRJECT</h4>
                            <P>Products Test no variants 2 Test no variant (Product 04) Sample <br> - Gym For Sale (Product 03) Sample - Gym For...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                    </div>
                    <div class="articles_page_right">
                        <div>
                            <h4>HTML SITE MA FOR PRJECT</h4>
                            <P>Products Test no variants 2 Test no variant (Product 04) Sample <br> - Gym For Sale (Product 03) Sample - Gym For...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                        <br>
                        <div>
                            <h4>Deumanto Sollicitudin Delo Milancelos</h4>
                            <P>Nam tempus turpis at metus scelerisque placerat  <br> deumantos solicitud de felis. Quisquemos sodales suscipit <br> tortor condimentum. Pellentesque mauris molestie at...</P>
                            <button><a href="">view page</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>